<div class="container-content">
    <span class="image-about-me"> <img src="./img/aboutMe/aboutMe.webp" alt="about-me" width="95%" height="100%"></span>
    <div class="content-about-me">
        <h4>ABOUT ME</h4>
        <h1>NHILE LIFE COACH</h1>
        <p>
            Welcome to the FREE and VALUABLE knowledge treasure trove of Nhi Le - the first Life Coach in
            Vietnam. She has Diploma in Psychology from Singapore. Nhi Le helps people become happy, develop
            themselves, and find the answer to the question "Who am I?" via the lessons and experiences she
            has
            accumulated.
        </p>
        <p>
            Despite growing up in an imperfect environment in Quang Nam province and becoming a single
            mother in
            a foreign land, Nhi Le never gave up. She tirelessly learns and develops herself, standing up
            against obstacles. With effort and perseverance, Nhi Le has achieved success in her many roles,
            from
            investor, entrepreneur, advisor, leader to renowned healing speaker, not only in Singapore but
            also
            in many other parts of the world.
        </p>
        <p>
            To assist the people of Vietnam in transforming their lives and uncovering their inner
            potential,
            Nhi Le, along with the Strengths Quotient Institute (SQI) and the NhiLe Team, is bringing the
            copyright of many quality courses to her homeland. The positive environment and valuable
            knowledge
            of the Ikigai Zone and SQI have also helped Nhi Le continuously "rebirth" herself into a more
            perfect version.
        </p>
    </div>
</div>
<div class="btn-view-more hover-btn">
    <span>
        <p>VIEW MORE</p>
        <i style="font-size: 16px;" class='fa fas fa-arrow-right'></i>
    </span>
</div>

<style>
    .container-content {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 45%;
    }

    .content-about-me {
        width: 48%;
        padding-left: 30px;
    }

    .content-about-me p {
        font-family: Arimo, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #1d2122;
        overflow-x: hidden;
        font-size: 16px;
        line-height: 1.8;
        word-wrap: break-word;
        text-align: justify !important;
    }

    .content-about-me h4 {
        font-family: Lucida Sans Unicode;
        font-size: 13px;
        color: #e70107;
    }

    .content-about-me h1 {
        font-family: Lucida Sans Unicode;
        font-size: 50px;
    }

    .image-about-me {
        width: 40%;
    }

    .btn-view-more {
        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px solid #f1f1f1;
        width: 175px;
        height: 60px;
        font-weight: bold;
        margin-top: 20px;
    }

    .btn-view-more span {
        display: flex;
        align-items: baseline;
    }

    .btn-view-more span p {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 10px;
    }

    .fa-arrow-right {
        padding-left: 10px;
        color: #e70107;
    }

    .hover-btn:hover .fa-arrow-right {
        background-color: #e70107;
        color: #f1f1f1 !important;
    }

    .hover-btn:hover {
        background-color: #e70107;
        color: #f1f1f1 !important;
    }
</style>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>