<div style="display: flex; justify-content: center;">
    <div class="nav-widget">
        <div class="services footer-size">
            <h3>SERVICES</h3>
            <nav>
                <ul>Digital Marketing</ul>
                <ul>Video Editor</ul>
                <ul>Graphic Design</ul>
                <ul>Website & App Development</ul>
                <ul>Social Media Support</ul>
            </nav>

        </div>
        <div class="our-pages footer-size">
            <h3>OUR PAGES</h3>
            <nav>
                <ul>Free Training</ul>
                <ul>About Us</ul>
                <ul>Private Coaching</ul>
            </nav>
        </div>
        <div class="support footer-size">
            <h3>SUPPORT</h3>
            <nav>
                <ul>Contact</ul>
                <ul>Privacy</ul>
                <ul>FAQ</ul>
                <ul>Terms</ul>
            </nav>
        </div>
        <div class="register footer-size">
            <h3>REGISTER</h3>
            <nav>
                <ul>Nhi's House Members</ul>
                <ul>NhiLe Team Volunteers</ul>
                <ul>NhiLe Ebook For FREE</ul>
                <ul>Website Feedback</ul>
            </nav>
        </div>
    </div>
</div>

<div class="bottom">
    <div class="footer-logo">
        <div class="footer-logo-content">
            <img src="../FinalWeb/img/icon.png" width="100px">
            <span>©2023. All rights reserved</span>
        </div>
    </div>
    <div>
        <i class="fab fa-github-square"></i>
    </div>
</div>

<style>
    .nav-widget div ul {
        text-decoration: none
    }

    .nav-widget {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    .footer-size {
        width: auto;
    }

    .footer-size nav ul {
        padding: 0%;
    }

    .footer-size nav ul:hover {
        transform: translateX(5px);
        color: #e70107
    }

    .bottom {
        display: flex;
        height: 100px;
        background-color: #d8d8d8;
    }

    .footer-logo {
        display: flex;
        width: 50%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    .footer-logo-content {
        display: inline;
        padding-right: 29px;
    }

    /* style icon */
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 14px;
        height: 14px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #183186;
        color: white;
    }

    .fa-telegram-plane {
        background: #0056b3;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-youtube-play {
        background: #e70107;
        color: white;
    }

    .fa-instagram {
        background: #e73b3b;
        color: white;
    }

    .fa-spotify {
        background: #cb2027;
        color: white;
    }


    .fa-tiktok {
        background: white;
        color: black;
    }
</style>