<h1>OTHER SERVICES</h1>
<div class="navbar-other-service">
    <a class="item-menu btn-first">maketing</a>
    <a class="item-menu icon-before"> editor</a>
    <a class="item-menu icon-before">design</a>
    <a class="item-menu icon-before">web/app</a>
    <a class="item-menu icon-before">social</a>
    <a class="item-menu icon-before">branding</a>
    <a class="item-menu icon-before">interior design</a>
</div>

<div class="other-service-content">
    <div class="animation">
        <img src="./img/OtherService/nhi-le.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/nhi-le-postcast.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/nhi-le-talk-show.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/kampung-kid.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/jovan.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/homestay.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/share-work.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/ikigai.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/ava-studio.jfif" width="300px" height="300px">
    </div>
    <div class="animation">
        <img src="./img/OtherService/coffee-pub.jfif" width="300px" height="300px">
    </div>
</div>

<div class="btn-view-more hover-btn">
    <span>
        <p>VIEW MORE</p>
        <i style="font-size: 16px;" class='fa fas fa-arrow-right'></i>
    </span>
</div>

<style>
    h1 {
        font-size: 50px;
        font-family: Lucida Sans Unicode;
    }

    .item-menu {
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
        font-weight: bold;
        font-family: Lucida Sans Unicode;
        font-size: 14px;
    }

    .navbar-other-service {
        display: flex;
        width: 60%;
        justify-content: space-around;
    }

    .icon-before:before {
        position: absolute;
        transform: translate(-32px, 9px);
        display: inline-block;
        height: 1px;
        content: " ";
        text-shadow: none;
        background-color: red;
        width: 10px;
    }

    .item-menu:hover {
        text-align: center;
        background-color: #e70107;
        color: white;
    }

    .btn-first {
        background-color: #e70107;
        color: white;
        padding-right: 10px;
        margin-right: 10px;
    }

    .other-service-content {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 80%;
        flex-direction: column;
    }

    .animation {
        display: grid;
        width: 300px;
        height: 300px;
        margin: 5px;
        margin-top: 50px;
        overflow: hidden;
    }

    .animation img:hover {
        transform: scale(1.1);
    }

    .animation img {
        transition: 0.5s;
    }

    .btn-view-more {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #f1f1f1;
        width: 175px;
        height: 60px;
        font-weight: bold;
        margin-top: 20px;
    }

    .btn-view-more span {
        display: flex;
        align-items: baseline;
    }

    .btn-view-more span p {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 10px;
    }

    .fa-arrow-right {
        padding-left: 10px;
        color: #e70107;
    }

    .hover-btn:hover .fa-arrow-right {
        background-color: #e70107;
        color: #f1f1f1 !important;
    }

    .hover-btn:hover {
        background-color: #e70107;
        color: #f1f1f1 !important;
    }
</style>