body {
    /* background-color: aqua; */
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 0%;
    padding: 0%;
}

section {
    width: fit-content;
    height: fit-content;
}

.navbar-container {
    display: flex;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    font-size: 14px;
}

.navbar-container:hover {
    height: 450px;
    align-items: self-start;
}

.slider {
    width: fit-content;
    height: fit-content;
}

/* Auto slider banner*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

img {
    vertical-align: middle;
    /* width: min-content; */
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slider-auto {
    display: none;
}

/* Content container */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* about-me */
.about-me {
    font-family: Georgia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.container-content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 45%;
}

.content-about-me {
    width: 48%;
    padding-left: 30px;
}

.content-about-me p {
    line-height: 1.6;
    font-size: 15px;
    text-align: justify !important;
}

.content-about-me h4 {
    font-family: Barlow Condensed, sans-serif;
    font-size: 14px;
    color: #e70107;
}

.content-about-me h1 {
    font-size: 40px;
    letter-spacing: -1px;
    text-transform: uppercase;
    line-height: 1;
}

.image-about-me {
    width: 40%;
}

.btn-view-more {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #f1f1f1;
    width: 175px;
    height: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-view-more span {
    display: flex;
    align-items: baseline;
}

.btn-view-more span p {
    font-size: 15px;
    padding-left: 10px;
}

.fa-arrow-right {
    padding-left: 10px;
    color: #e70107;
}

.hover-btn:hover .fa-arrow-right {
    background-color: #e70107;
    color: #f1f1f1 !important;
}

.hover-btn:hover {
    background-color: #e70107;
    color: #f1f1f1 !important;
}