body {
    /* background-color: aqua; */
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 0%;
    padding: 0%;
}

.navbar-container {
    display: flex;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    font-size: 14px;
}

.navbar-container {
    transition-duration: 5s;
    transform: translateY(0px);
}

.navbar-container:hover {
    height: 420px;
    align-items: self-start;
}

/* Auto slider banner*/
.intro-page {
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: center;
}

.slider {
    display: flex;
    height: 650px;
}

/* Content container */
.container {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* about-me */
.about-me {
    font-family: Georgia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.other-service {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.customer {
    display: flex;
    flex-direction: column;
    height: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}